:root {
  --color: #a14198;
}

main {
  margin-top: 7vh;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body>header {
  border-bottom: 5px solid var(--color);
  position: fixed;
  z-index: 1000;
  background-color: white;
  display: flex;
  width: 100%;
  height: 7vh;
  align-items: center;
  box-shadow: 1px 0px 15px 1px rgba(0, 0, 0, 0.321);
}

.quick-access {
  display: flex;
  align-items: center;
}

.quick-access p {
  font-size: 16px;
}

.quick-access>a {
  text-align: right;
  margin: 0;
  text-decoration-line: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.login-access {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 3vw
}

.login-access p {
  font-size: 18px;
}

.logo {
  margin: 0 8vw 0 3vw;
  font-size: 25px;
}

.line {
  margin: 0 2vw 0 2vw;
  width: 0.001px;
  height: 3vh;
  border: 1px solid grey;
}

.text-header {
  margin-left: 1vw;
}

.representation-img {
  margin-top: 1vh;
  height: 32px;
  width: 32px;
  z-index: 1000;
}

#warning {
  color: rgb(222, 19, 19);
  text-align: center;
}

#right:empty,
#wrong:empty {
  margin: 0;
}

#right,
#wrong {
  text-align: center;
  word-wrap: break-word;
  margin: 3vh 4vh 0 4vh;
  font-weight: 500;
}

#right {
  color: limegreen;
}

#wrong {
  color: firebrick;
}