:root {
    --color: #a14198;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
}

main {
    margin-top: 4vh;
}

.search {
    display: flex;
    flex-direction: column;
    background-color: var(--color);
    margin: 10vh auto;
    width: 55vw;
    height: fit-content;
    padding: 15px 0 15px;
    border-radius: 20px;
    color: white;
    position: relative;
}

.available {
    margin-bottom: 1vh;
}

.available > h3 {
    font-weight: 400;
    margin: 0 20px 0 20px;
}

.div-special {
    position: absolute;
    bottom: 4vh;
    padding-right: 2vw;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.div-special div {
    display: flex;
    flex-direction: column;
}

input {
    border: 0;
    height: 5vh;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 1vw;
}

.btn-search {
    background-color: #D99bd3;
    color: black;
    font-size: 16px;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 20%;
}

.btn-img {
    margin-left: 1vh;
    height: 24px;
    width: 24px;
}

.slider-text {
    margin: 0 0 5vh 20vw;
}

.touch-slider {
    display: flex;
    grid-gap: 3rem;
    margin: 0 0 10vh 20vw;
    max-width: 75vw;
    width: 100%;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x;
    cursor: grab;
    scroll-behavior: smooth;
}

.touch-slider,
.touch-slider * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.touch-slider::-webkit-scrollbar {
    display: none;
    /*Esse comando diz se a barra de movimentação do slide deve aparecer, eu creio que não deva. Ass: zuerinha*/
}

.slide {
    background-color: #e8e8e8;
    width: 14vw;
    height: 24vh;
    padding: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.last-slide {
    margin-right: 2rem;
}

img {
    width: 100%;
    text-align: center;
}

#agenciesListContainer {
    position: relative;
}

#agenciesList {
    position: absolute;
    color: black;
    top: 35px;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #b8b8b8;
    border: 5px;
    background-color: white;
    /* Set background color to opaque */
    display: none;
    width: 95%;
    /* Hide by default */
}

.card-body {
    border: 1px solid rgba(161, 161, 161, 0.64);
    padding: 5px;
    transition: all .1s;
    cursor: pointer;
}

.card-body:hover {
    background-color: #f1d2ee;
}

.search-items {
    display: flex;
    margin: 0 20px 20px 20px;
}

.search-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.form-control {
    width: 95%;
    height: 100%;
}

#label-location {
    margin: 20px 0 5px 20px;
}