:root {
    --color: #a14198;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
}

main {
    margin-top: 4vh;
}

h1 {
    font-size: 20px;
    margin: 0;
}

.search {
    display: flex;
    flex-direction: column;
    background-color: var(--color);
    margin: 10vh auto;
    width: 45vw;
    height: 24vh;
    border-radius: 20px;
    padding-left: 2vw;
    color: white;
    position: relative;
}

.div-special {
    position: absolute;
    bottom: 4vh;
    padding-right: 2vw;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.div-special div {
    display: flex;
    flex-direction: column;
}

input {
    border: 0;
    height: 5vh;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 1vw;
}

input[type="date"],
input[type="time"] {
    padding: 0;
    text-align: center;
}

.btn-search {
    background-color: #D99bd3;
    font-size: 16px;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-img {
    margin-left: 1vh;
    height: 24px;
    width: 24px;
}

.touch-slider {
    display: flex;
    grid-gap: 3rem;
    margin: 0 0 10vh 20vw;
    max-width: 75vw;
    width: 100%;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x;
    cursor: grab;
    scroll-behavior: smooth;
}

.touch-slider,
.touch-slider * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.touch-slider::-webkit-scrollbar {
    display: none;
    /*Esse comando diz se a barra de movimentação do slide deve aparecer, eu creio que não deva. Ass: zuerinha*/
}

.slide {
    background-color: #e8e8e8;
    width: 14vw;
    height: 24vh;
    padding: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

img {
    width: 100%;
    text-align: center;
}